 body{
 	font-family: 'Work Sans', sans-serif;
 }

 nav.navbar a.theBrand{
 	color: #af111c !important;
 	font-variant: small-caps;
 	font-weight: bold;
 	font-size: 1.5em;
 }

 nav.navbar a.theBrand:hover{
 	/*font-variant: small-caps;*/
 	/*font-weight: bolder;*/
 }

 .navList a.nav-link:hover{
 	color: #af111c !important;
 	font-size: 1em;
 }

 footer{
 	background-color: rgba(13,14,16,0.8); 
 	padding: 20px
 }

 div.footer span{
 	font-variant: small-caps;
 }

 div.footer p{
 	color: white;
 }

 /*index css finito*/

 /*common css*/


 /*common css end*/

 /*donor register css start*/
 .donorForm{
 	background-color: #F4F5F6;
 	padding:50px;
 	margin: 30px 0px;
 }

 .text-center{
 	text-align: center;
 }

 .submit-form{
 	margin-bottom: 30px;
 }

 textarea{
 	resize: none;
 }
/*donor register css finito*/
 /*donor table css start*/
 .donorTable .table .view-details:hover{
 	color:red;
 }
 .modal .modal-body .donor-profile{
 	background-color:#af111c;
 	padding:15px;
 }

 .modal .modal-body .donor-profile .donor-img img{
 	border-radius: 50%;
 	height: 150px;
 	width: 150px;
 	padding:10px;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;

 }
 .modal .modal-body .donor-profile{
 border-top: 1px solid #96030d;
}

/*donor table finito*/

/*donors.php css*/
.card-body .fas{
	color:#af111c !important;
}

.donor-cards div[class*= "col-"]{
	margin-top:15px;
}

.donor-cards .card {
	margin:20px 0px 30px 0px !important;
    box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.3) !important;
}

/*donors.php css finito */